Flask==1.1.1
Flask-SQLAlchemy==2.4.3
Flask-Cors==3.0.8
Flask-Mail==0.9.1
Flask-WTF==0.14.3
numpy==1.22.0
covid==2.2.10
Jinja2==2.11.1
pandas==1.0.1
requests==2.22.0
urllib3==1.25.3
email-validator==1.1.1
